# streamlit
# pandas
# folium
# streamlit-folium
# matplotlib
# requests
# numpy
# plotly
# kaleido
# scipy
# geopandas
# shapely


streamlit
pandas
numpy
plotly
geopandas
shapely
scipy
streamlit-plotly-events